<div id="header">
  <div style="display: flex; align-items: center">
    <img
      routerLink="/"
      id="logo"
      src="https://media.licdn.com/dms/image/D560BAQHx2TUfyQN4dA/company-logo_200_200/0/1682362561984?e=1693440000&v=beta&t=KrJ2qTdTG01ovRbWR0-5pIJJPcSwZ79pkpr4yv0mr_w"
    />
    <div style="margin-left: 12px" routerLink="/order-history">History</div>
  </div>
  <div>
    <div id="user-settings">
      <div class="profile">
        <img
          id="profile-icon"
          style="margin-right: 4px"
          src="https://media.licdn.com/dms/image/C4D03AQG5tIMuRWer2w/profile-displayphoto-shrink_400_400/0/1580692613232?e=1690416000&v=beta&t=q1UlRGAKfgaPqyGCEQPF4lGoH25lEp_4vLsM8HWjtaY"
        />
        <p id="user-name">Khai Tran</p>
      </div>
    </div>
  </div>
</div>
