#confirmation-modal {
  width: 80%;
  height: 80%;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10001;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

#confirmation-modal h2 {
  margin: 0 0 20px;
  color: #333;
  font-weight: 600;
}

#confirmation-modal p {
  color: #333;
}

.order-details {
  margin-top: 20px;
}

.order-details h3,
.order-details p {
  margin: 0 0 10px;
}

.order-details .menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.order-details .menu-item-image {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.order-details .menu-item-details h3 {
  margin: 0;
  color: #333;
  font-weight: 600;
}

.mat-dialog-container {
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.cdk-overlay-backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.button-container {
  display: flex;
}

.button-container button {
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;

  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.button-container button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

.button-container .history-button {
  background: linear-gradient(to right, #007bff, #1ad6fd);
  margin-right: 10px;
}

.button-container .home-button {
  color: #007bff;
}
